*{
    width: auto;
    height: auto;
}

a{
    color:#ffffff;
    text-decoration:none;
}

a:visited{
    color:#ffffff;
}

a:hover{
    color:#424242;
}

h2{
    color: #ffffff;
}

h3{
    color: #424242;
}

h4{
    color: #fff;
}

.abutton{
    width: 4rem;
    height: 2rem;
    background-color: #b2dfdb;
    border:none;
    border-radius: 0.5rem;
}

.abutton:hover{
    background-color: #fff;
}

hr{
    background-color: #fff;
    height: 1rem;
}

header {
    width: auto;
    height: auto;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -1.5rem;
    padding:1rem;
    text-align: center;
    background-color: #424242;
    color:#de3607;

}

body{
    width: auto;
    height: auto;
    padding: 1rem;
    background-color: #424242;
}

.section{
    background-color: #2969ff;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 2rem;
}

footer {
    width: auto;
    height: auto;
    margin-left: -2rem;
    margin-right: -2rem;
    margin-bottom: -1.5rem;
    padding:1rem;
    text-align: center;
    background-color: #000;
    color:#b2dfdb;

}