*{
    width: auto;
    height: auto;
}

a{
    color:#5c821a;
    text-decoration:none;
}

a:visited{
    color:#5c821a;
}

a:hover{
    color:#fff;
}

h2{
    color: #ffffff;
}

h3{
    color: #0f1b07;
}

h4{
    color: #0f1b07;
}

.abutton{
    width: 4rem;
    height: 2rem;
    background-color: #5c821a;
    border:none;
    border-radius: 0.5rem;
}

.abutton:hover{
    background-color: #fff;
}

header {
    width: auto;
    height: auto;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -1.5rem;
    padding:1rem;
    text-align: center;
    background-color: #0f1b07;

}

body{
    width: auto;
    height: auto;
    padding: 1rem;
    background-color: #0f1b07;
}

.section{
    background-color: #c6d166;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 2rem;
}

footer {
    width: auto;
    height: auto;
    margin-left: -2rem;
    margin-right: -2rem;
    margin-bottom: -1.5rem;
    padding:1rem;
    text-align: center;
    background-color: #0f1b07;

}